.App-body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  margin-top: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:  10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.Nav-items {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Nav-item {
  color: white;
  text-decoration: none;
}

.Input-div {
  vertical-align: middle;
}

.Tracking-number {
  font-size: 17pt;
}

.Tracking-number-input {
  font-size: 15pt;
  size: 30;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: .3em;
}
.Get-button {
  background-color: #ff675a;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  height: 2em;
  width: 10em;
  border-radius: .5em;
  border: none;
}

.Get-button:active {
  transition-duration: 0.1s;
  background-color: #ff7b5a;
  top: 1px;
}

.Output-div {
  text-align: left;
  margin-top: 5vh;
  width: 75%;
}

.Output-1 {
  overflow-wrap: anywhere;
}