.App-body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  margin-top: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:  10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.Nav-items {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.Nav-item {
  color: white;
  text-decoration: none;
  margin-left: 10vh;
  font-size: 20px;
  vertical-align: middle;
}

.Tracking-input-div {
  align-items: left;
  text-align: left;
}

.Tracking-number-input {
  font-size: 15pt;
  size: 30;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: .3em;
}

.Tracking-courier-dropdown {
  font-size: 15pt;
  size: 30;
  margin-right: 2vw;
  padding: .3em;
}

.Tracking-get-button {
  background-color: #ff675a;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: .5em;
  border: none;
}

.Tracking-get-button:active {
  transition-duration: 0.1s;
  background-color: #ff7b5a;
  top: 1px;
}

.Save-button {
  margin-left: 10px;
  margin-right: 10px;
  width:  70px;
}

.Delete-button {
  background-color: #ff675a;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  width:  14vh;
  padding: 10px;
  border-radius: .5em;
  border: none;
}

.Delete-all-button {
  background-color: #ff675a;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  width:  14vh;
  padding: 10px;
  border-radius: .5em;
  border: none;
}

.Logout-button {
  background-color: #ff675a;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  width:  220px;
  padding: 10px;
  border-radius: .5em;
  border: none;
}

.Tracking-output-div {
  margin-top: 5vh;
  width: 80%;
}

.Tracking-header {
  font-weight: bold;
  text-align: left;
}

.Tracking-status-table {
  padding: 10px;
  text-align: left;
}

.Tracking-status-table-header {
  border-bottom: 2px solid white;
  padding: 10px;
}

.Tracking-status-table-cell {
  padding: 10px;
  vertical-align: top;
  font-size: 20px;
}

.Tracking-raw-output {
  text-align: left;
}

.Form-container {
  background: rgb(73, 79, 82);
  padding: 50px;
  height: fit-content;
  width: fit-content;
}

.Form{
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  
}

.Form button {
  background: #ff675a;
  border: 0;
  width: 80%;
  font-size: 16px;
  padding: 1vh;
  border-radius: 7px;
}

.Form button:active {
  transition-duration: 0.1s;
  background-color: #ff7b5a;
  top: 1px;
}

.Form-control {
  
  position: relative;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 0vh 0vh 3vh 0vh;

  box-sizing: border-box;
}

.Form-text {
  display: block;
  margin: 3vh 0vh 0vh 0vh;
}